body {
    font-family: "Outfit-Regular",sans-serif;
    background-color: hsl(212, 45%, 89%);
    font-weight: 400;
}
.u-text-bold {
    font-family: "Outfit-Bold",sans-serif;
    font-weight: 700;
}